{
  "options": {
    "data_model": "order-data",
    "primary_time_dimension": "Order Date",
    "dimensions": {
      "Order Date": "Order Date"
    },
    "metrics": {
      "Sales": "Sales"
    },
    "filter": [
      "Region"
    ],
    "formatters": {
      "Sales": "dollars"
    },
  },
  "components": [
    [
      {
        "id": 1,
        "type": "primary-timeseries",
        "title": "Timeseries",
        "dimensions": {
          "required": [
            "Order Date"
          ],
          "selected": [
            "Order Date",
            "Product Category"
          ],
          "selectable": [
            "Product Category",
            "Customer Segment",
            "Region"
          ]
        },
        "metrics": {
          "selected": [
            "Total Sales"
          ],
          "selectable": [
            "Total Sales",
            "Sales"
          ]
        }
      }
    ]
  ]
}
